In [10]:
#刪除觀測值或欄位
import pandas as pd

groups = ["one", "two", "three", "four", "five", "six"]
ironmen = [59, 9, 19, 14, 6, 77]

ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)


#刪除觀測值
ironmen_df_no_mw = ironmen_df.drop(0,axis=0)
print(ironmen_df_no_mw)

ironmen_df_no_mw = ironmen_df.drop(1,axis=0)
print(ironmen_df_no_mw)

#刪除欄位
ironmen_df_no_groups = ironmen_df.drop("groups",axis=1)
print(ironmen_df_no_groups)

       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77
     groups  ironmen
1    DevOps        9
2     Cloud       19
3  Big Data       14
4  Security        6
5     自我挑戰組       77
       groups  ironmen
0  Modern Web       59
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77
   ironmen
0       59
1        9
2       19
3       14
4        6
5       77

In [25]:
#透過 ix 屬性篩選 data frame

import pandas as pd

groups = ["one", "two", "three", "four", "five", "six"]
ironmen = [59, 9, 19, 14, 6, 77]

ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("---------------")
#選擇欄位
print( ironmen_df.ix[:,"groups"])
print("---------------")

#選擇觀測值
print(ironmen_df.ix[0])
print("---------------")

#同時選擇
print( ironmen_df.ix[0,"groups"])
print("---------------")
print( ironmen_df.ix[0,0])

  groups  ironmen
0    one       59
1    two        9
2  three       19
3   four       14
4   five        6
5  自我挑戰組       77
---------------
0      one
1      two
2    three
3     four
4     five
5    自我挑戰組
Name: groups, dtype: object
---------------
groups     one
ironmen     59
Name: 0, dtype: object
---------------
one
---------------
one

C:\Users\owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [29]:
#透過布林值篩選 data frame

import pandas as pd

groups = ["one", "two", "three", "four", "five", "six"]
ironmen = [59, 9, 19, 14, 6, 77]

ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("---------------")


filter = ironmen_df["ironmen"] > 10
print(filter)
ironmen_df[filter]

  groups  ironmen
0    one       59
1    two        9
2  three       19
3   four       14
4   five        6
5    six       77
---------------
0     True
1    False
2     True
3     True
4    False
5     True
Name: ironmen, dtype: bool

  groups  ironmen
0    one       59
2  three       19
3   four       14
5    six       77

In [32]:
#排序
#sort_index() 方法

import pandas as pd

groups = ["3", "2", "6", "5", "1", "4"]
ironmen = [59, 9, 19, 14, 6, 77]

# 用index建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], 
                          index = groups)

print(ironmen_df)
print("---------------")

#用索引值排序
ironmen_df.sort_index()

   ironmen
3       59
2        9
6       19
5       14
1        6
4       77
---------------

   ironmen
1        6
2        9
3       59
4       77
5       14
6       19

In [35]:
#排序
#sort_values() 方法

import pandas as pd

groups = ["3", "2", "1", "5", "6", "4"]
ironmen = [59, 9, 19, 14, 6, 77]

# 用index建立 data frame
ironmen_df = pd.DataFrame(ironmen, columns = ["ironmen"], 
                          index = groups)

print(ironmen_df)
print("---------------")

#用數值排序
ironmen_df.sort_values(by="ironmen")

   ironmen
3       59
2        9
1       19
5       14
6        6
4       77
---------------

   ironmen
6        6
2        9
5       14
1       19
3       59
4       77

In [39]:
#描述統計
# sum()、mean()、median() 與 describe() 
import pandas as pd

groups = ["one", "two", "three", "four", "five", "six"]
ironmen = [59, 9, 19, 14, 6, 77]

ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("---------------")

#sum()
print( ironmen_df.sum())
print("---------------")

#mean()
print( ironmen_df.mean())
print("---------------")

#median
print( ironmen_df.median())
print("---------------")

#describe
print( ironmen_df.describe())
print("---------------")

  groups  ironmen
0    one       59
1    two        9
2  three       19
3   four       14
4   five        6
5    six       77
---------------
groups     onetwothreefourfivesix
ironmen                       184
dtype: object
---------------
ironmen    30.666667
dtype: float64
---------------
ironmen    16.5
dtype: float64
---------------
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000
---------------

In [48]:
#相異值個數
#value_counts()
import pandas as pd

gender = ["Male", "Male", "Female", "Male", "Male", "Female",]
ironmen = [59, 59, 19, 14, 6, 77]

# 用index建立 data frame
ironmen_df = pd.DataFrame(gender, columns = ["gender"], 
                          index = ironmen)
print(ironmen_df)
print("---------------")

#計算各有幾個觀測值
pd.value_counts( ironmen_df.gender)

    gender
59    Male
59    Male
19  Female
14    Male
6     Male
77  Female
---------------

Male      4
Female    2
Name: gender, dtype: int64

In [52]:
#判斷遺失值
#isnull() 方法
#notnull() 方法
import numpy as np
import pandas as pd

groups = ["one", "two", np.nan, "four", "five", "six"]
ironmen = [59, 9, 19, 14, 6, np.nan]

ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("---------------")

print( ironmen_df.ix[:,"groups"].isnull())
print( ironmen_df.ix[:,"ironmen"].notnull())

  groups  ironmen
0    one     59.0
1    two      9.0
2    NaN     19.0
3   four     14.0
4   five      6.0
5    six      NaN
---------------
0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

C:\Users\owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [57]:
#處理遺失值
#dropna() 方法
#fillna() 方法
import numpy as np
import pandas as pd

groups = ["one", "two", np.nan, "four", "five", "six"]
ironmen = [59, 9, 19, 14, 6, np.nan]

ironmen_dict = {
                "groups": groups,
                "ironmen": ironmen
}

# 建立 data frame
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("---------------")

# 有遺失值的觀測值都刪除
ironmen_delete = ironmen_df.dropna()
print(ironmen_delete)
print("---------------")

# 有遺失值的觀測值填補 0
ironmen_fill = ironmen_df.fillna(0)
print(ironmen_fill)
print("---------------")

# 依欄位填補遺失值
fill = ironmen_df.fillna( {"groups": "number",
                          "ironmen":100})
print(fill)

  groups  ironmen
0    one     59.0
1    two      9.0
2    NaN     19.0
3   four     14.0
4   five      6.0
5    six      NaN
---------------
  groups  ironmen
0    one     59.0
1    two      9.0
3   four     14.0
4   five      6.0
---------------
  groups  ironmen
0    one     59.0
1    two      9.0
2      0     19.0
3   four     14.0
4   five      6.0
5    six      0.0
---------------
   groups  ironmen
0     one     59.0
1     two      9.0
2  number     19.0
3    four     14.0
4    five      6.0
5     six    100.0